In [7]:
import pandas as pd

columns = ['id', 'price', 'quantity', 'firstTrade', 'lastTrade', 'timestamp', 'buyer']

df = pd.read_csv('BTCUSDT-aggTrades-2022-02.csv', names=columns)
df['timestamp'] = pd.to_datetime(df.timestamp, unit='ms')
df

,id,price,quantity,firstTrade,lastTrade,timestamp,buyer
0,1056110212,38439.04,1.179,1881333504,1881333513,2022-02-01 00:00:00.077,True
1,1056110213,38439.05,0.007,1881333514,1881333517,2022-02-01 00:00:00.149,False
2,1056110214,38439.04,0.044,1881333518,1881333519,2022-02-01 00:00:02.791,True
3,1056110215,38439.05,0.013,1881333520,1881333523,2022-02-01 00:00:02.814,False
4,1056110216,38439.04,0.525,1881333524,1881333524,2022-02-01 00:00:02.818,True
...,...,...,...,...,...,...,...
52823150,1108933362,43159.10,0.004,1987119081,1987119081,2022-02-28 23:59:59.921,True
52823151,1108933363,43158.10,0.261,1987119082,1987119084,2022-02-28 23:59:59.921,True
52823152,1108933364,43158.00,0.145,1987119085,1987119089,2022-02-28 23:59:59.921,True
52823153,1108933365,43155.90,0.001,1987119090,1987119090,2022-02-28 23:59:59.950,True
52823154,1108933366,43155.00,0.002,1987119091,1987119092,2022-02-28 23:59:59.970,True

In [36]:
test = df.copy()
test_buyer = test[test['buyer'] == True]

In [40]:
test_buyer.resample('30min', on='timestamp').agg(
    {'price': 'mean', 'quantity': 'sum'}).reset_index()

               timestamp         price   quantity
0    2022-02-01 00:00:00  38415.846457   3298.808
1    2022-02-01 00:30:00  38320.781080   1789.691
2    2022-02-01 01:00:00  38319.890293   1001.749
3    2022-02-01 01:30:00  38230.456040   2183.805
4    2022-02-01 02:00:00  38289.882291   1262.179
...                  ...           ...        ...
1339 2022-02-28 21:30:00  41568.520935   2552.553
1340 2022-02-28 22:00:00  41784.363040   3290.055
1341 2022-02-28 22:30:00  43466.902766  26828.941
1342 2022-02-28 23:00:00  43089.937380   9462.118
1343 2022-02-28 23:30:00  43154.628036   3983.272

[1344 rows x 3 columns]